name: Provision Infrastructure

on:
  workflow_call:
    inputs:
      backend_config_bucket:
        description: 'JSON map of env to bucket (e.g. {"dev": "bucket-dev", "prod": "bucket-prod"})'
        required: true
        type: string
        default: '{"dev": "hobio-nonprod-tfstates-ue1", "qa": "hobio-nonprod-tfstates-ue1", "prod": "hobio-prod-tfstates-ue1"}'
      environment:
        required: true
        type: string
        description: "List of environments to deploy to (dev,qa,prod)"
      working_directory:
        required: false
        type: string
        default: "."
        description: "Directory containing Terraform configuration"
      tf_version:
        required: false
        type: string
        default: "latest"
        description: "Terraform version to use"
      timeout_minutes:
        required: false
        type: number
        default: 60
        description: "Timeout for the workflow"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      environments: ${{ steps.set-matrix.outputs.environments }}
    steps:
      - name: Generate Matrix
        id: set-matrix
        run: |
          echo "environments=$(echo '${{ inputs.environment }}' | jq -c 'split(",")')" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy to ${{ matrix.environment }}
    needs: setup
    strategy:
      matrix:
        environment: ${{ fromJson(needs.setup.outputs.environments) }}
      fail-fast: true
      max-parallel: 1
    uses: ./.github/workflows/terraform-plan-apply.yml
    secrets: inherit
    with:
      environment: ${{ matrix.environment }}
      backend_config_bucket: ${{ fromJson(inputs.backend_config_bucket)[matrix.environment] }}
      working_directory: ${{ inputs.working_directory }}
      tf_version: ${{ inputs.tf_version }}
      timeout_minutes: ${{ inputs.timeout_minutes }}
    
